<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a href="/" class="navbar-brand mr-auto">
    GuiaPress
  </a>

  <ul class="navbar-nav mr-5 flex">
    <li class="nav-item">
      <a class="nav-link text-light" href="/admin/categories">Categorias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="/admin/articles">Artigos</a>
    </li>
  </ul>
</nav>